@font-face {
	font-family: "Fontsaddict";
	src: url("Fontsaddict.eot");
	src: url("Fontsaddict.eot#iefix") format("embedded-opentype"),
	url("Fontsaddict.woff") format("woff"),
	url("Fontsaddict.ttf") format("truetype"),
	url("Fontsaddict.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
	font-family: Fontsaddict;
	font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}
.icon-machine:before {
	content: "\e800"
}
.icon-world:before {
	content: "\e801"
}
