@font-face {
    font-family: 'museo_cyrl500';
    src: url('fonts/MuseoCyrl_500-webfont.eot');
    src: url('fonts/MuseoCyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MuseoCyrl_500-webfont.woff2') format('woff2'),
        url('fonts/MuseoCyrl_500-webfont.woff') format('woff'),
        url('fonts/MuseoCyrl_500-webfont.ttf') format('truetype'),
        url('fonts/MuseoCyrl_500-webfont.svg#museo_cyrl500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Fontsaddict";
    src: url("fonts/Fontsaddict.eot");
    src: url("fonts/Fontsaddict.eot#iefix") format("embedded-opentype"),
        url("fonts/Fontsaddict.woff") format("woff"),
        url("fonts/Fontsaddict.ttf") format("truetype"),
        url("fonts/Fontsaddict.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
    font-family: Fontsaddict;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.icon-machine:before {
    content: "\e800";
}

.icon-world:before {
    content: "\e801";
}

body {
    font-family: 'museo_cyrl500', sans-serif;
    /*
    background-image: url('img/brickwall_2.png');
    background-image: url('img/ricepaper_2.png');
    background-image: url('img/halftone.png');
    */
    /*
    background-image: url('img/green_cup.png');
    */
    /*
    background-image: url('img/blue-stripe.jpg');
    background-image: url('img/salem.gif');
    background-image: url('img/waves.gif');
    */
    background-image: url('img/green_cup.png');
    box-shadow: inset 0 50px 225px -5px rgba(0, 0, 0, 0.7);
    color: #333;
}

.ascii {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

a,
a:hover,
a:visited {
    color: #2ECC71;
}

.clear {
    clear: both;
}

.ascii-row {

}

.ribbon {
    top: 20px;
    left: 500px;
    width: 600px;
    position: absolute;
    text-align: center;
    font-size: 20px !important;
    background: #d64b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
    background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
    background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
    -webkit-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
    box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
    font-family: 'museo_cyrl500', sans-serif;
}

.ribbon h1 {
    font-size: 25px !important;
    color: #801111;
    text-shadow: #d65c5c 0 1px 0;
    margin: 0px;
    padding: 15px 10px;
}

.ribbon:before,
.ribbon:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #c23a3a;
    z-index: -1;
}

.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
    box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
}

.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000, 000, 000, 0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(000, 000, 000, 0.4) -1px 1px 1px;
    box-shadow: rgba(000, 000, 000, 0.4) -1px 1px 1px;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
    border-color: #871616 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
    margin-top: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
    margin-bottom: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}