.uploadedImageInModal, #redactor-droparea-placeholder input[type=file] {
    margin: 0 auto;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px;
}

.actionForm .hint-block a {
    color: #3c8dbc;
}

.box-fixed {
    position: fixed;
    z-index: 10000;
}

.box-fixed.form-nav {
    bottom: 0px;
    left: calc(50% - 374px);
    height: 30px;
    overflow: visible;
}

.box-fixed.form-nav.short {
    left: calc(50% - 317px);
}

.form-partition-wrapper .box-header {
    padding-bottom: 9px;
    cursor: pointer;
}

.form-partition-wrapper .box-title {
    overflow: hidden;
    height: 18px;
    padding-right: 50px;
}

.form-partition-wrapper .box-title small {
    position: relative;
    top: -1px;
    padding-left: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body {
    font-family: 'PT Sans', sans-serif;
}

.alert-danger .error-summary {
    display: inline-table;
}

.box-tools-label {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.box-tools-label span {
    border-bottom: 1px dotted #00a65a;
}

.select2-container .select2-search--inline .select2-search__field {
    border: none;
}

.input-sm.select2-container--krajee .select2-selection--single,
.input-group-sm .select2-container--krajee .select2-selection--single,
.select2-container--krajee .select2-selection,
.select2-container--krajee .select2-search--dropdown .select2-search__field {
    border-radius: 0px;
}

.pageCheckboxWrapper {
    height: 18px;
    margin-top: -2px;
}

#network {
    background: rgba(255, 255, 255, 0.75);
    outline: rgba(0, 141, 76, 1) auto 1px;
}

.graph-tags,
.graph-switch {
    color: #29B707;
    font-size: 34px;
    height: 34px;
    width: 34px;
    border-radius: 17px;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
}

.graph-tags {
    top: 109px;
    right: 27px;
}

.graph-switch {
    top: 148px;
    right: 29px;
}

.graph-tags:hover,
.graph-switch:hover {
    text-shadow: 0 0 6px rgba(56, 207, 21, 0.5);
}

#graph-tags-modal .icheckbox_square-blue {
    margin-top: -2px;
}

.nav > li > .empty-link {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.page-text {
    padding: 10px 15px;
    border-top: 1px dotted #007f7f;
    border-bottom: 1px dotted #007f7f;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}