@page {
    margin: 0px;
}

body {
    background-color: rgba(12, 25, 17, 0.22);
    background-image: url('img/stardust.png');
}

a {
    color: #007f7f;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #7f7f7f;
}

.page {
    background-color: rgba(12, 25, 17, 0.22);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    page-break-inside: avoid;
    border-bottom: 1px dashed #7f7f7f;
}

.page-title,
.page-links,
.page-text {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-title {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 28px;
    background-image: url('img/crossword.png');
    color: rgba(24, 59, 52, 0.7);
}

.page-text {
    background-image: url('img/halftone.png');
    padding: 25px;
}

.page-links {
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url('img/crossword.png');
}

.page.active {
    background-color: rgba(12, 125, 167, 0.22);
}