@font-face {
    font-family: 'OpenGost Type A TT';
    src: url('OpenGostTypeATT-Regular.woff2') format('woff2'),
        url('OpenGostTypeATT-Regular.woff') format('woff'),
        url('OpenGostTypeATT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
